# ignore virtual env
.venv

# ignore local config
.netapp

# ignore macOS specific file
.DS_Store

# ignore bytecode cache directories
__pycache__
__pycache__/

# ignore egg-info directories created by setuptools
*.egg-info/

# build files
build/

.bdignore